:host {
    display: block;
}

.row[data-animation='Shake'] {
    animation-name: Shake;
    animation-duration: 600ms;
}

.row {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 5px;
    width: 20.5em;
    height: 66px;
    grid-gap: 5px;
    margin-left: 15px;
}

@keyframes Shake {
    10%, 90% {
        transform: translateX(-1px);
    }

    20%, 80% {
        transform: translateX(2px);
    }

    30%, 50%, 70% {
        transform: translateX(-4px);
    }

    40%, 60% {
        transform: translateX(4px);
    }
}
